@import '~bootstrap/dist/css/bootstrap-grid';
@import '~normalize.css/normalize';
@import 'variables';
@import 'colors';
@import 'mixins';

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

.climbing-card-admin-app {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;

    @import 'ui/table.scss';
    @import 'ui/form.scss';
    @import 'ui/button.scss';

    #wpcontent {
        padding-left: 0;
    }

    p {
        font-size: 1.4rem;
    }

    .header-section .col {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
