@import '~bootstrap/dist/css/bootstrap-grid';
@import '~normalize.css/normalize';
@import '../sass/vendors/icons';
@import 'variables';
@import 'colors';
@import 'mixins';

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

.climbing-card-admin-app {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;

    @import 'admin/table.scss';

    #wpcontent {
        padding-left: 0;
    }

    p {
        font-size: 1.4rem;
    }

    .header-section .col {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cc-btn {
        padding: 10px 20px;
        background-color: #fff;
        border: 2px solid var(--cc-gray-100);
        border-radius: 4px;
        transition: color, background-color 100ms ease-in-out;
        color: var(--cc-black);
        cursor: pointer;

        &:hover {
            background-color: var(--cc-black);
            color: #fff;
            border: 2px solid var(--cc-black);
        }
    }
}
