@import 'variables';
@import 'colors';
@import '~accordion-js/dist/accordion.css';
@import 'vendors/accordion';

.dot {
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #fff;

    &.red-point {
        background-color: $red-point;
        box-shadow: 0 0 0 2px $red-point;
    }

    &.on-sight {
        background-color: $on-sight;
        box-shadow: 0 0 0 2px $on-sight;
    }

    &.flash {
        background-color: $flash;
        box-shadow: 0 0 0 2px $flash;
    }
}

.last-climbed-routes {
    .climbed-route {
        .climbed-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            cursor: pointer;

            .climbed-data {
                display: flex;
                justify-content: center;
                align-items: center;

                .dot {
                    margin-left: 10px;
                }
            }
        }

        .climbed-content {
            display: flex;
            flex-direction: column;
        }
    }
}

.sidebar-widget {
    .widget-container {
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #efefef;

            &:last-of-type {
                border: none;
            }
        }
    }
}
