@import 'variables';
@import 'mixins';
@import 'colors';
@import '~accordion-js/dist/accordion.css';
@import 'vendors/accordion';

.dot {
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #fff;

    &.red-point {
        background-color: $red-point;
        box-shadow: 0 0 0 2px $red-point;
    }

    &.on-sight {
        background-color: $on-sight;
        box-shadow: 0 0 0 2px $on-sight;
    }

    &.flash {
        background-color: $flash;
        box-shadow: 0 0 0 2px $flash;
    }
}

.last-climbed-routes {
    .climbed-route {
        .climbed-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            cursor: pointer;

            .climbed-data {
                display: flex;
                justify-content: center;
                align-items: center;

                .dot {
                    margin-left: 10px;
                }
            }
        }

        .climbed-content {
            display: flex;
            flex-direction: column;

            span {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #eee;
                padding: 10px 0;

                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}

.sidebar-widget {
    .widget-container {
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #efefef;

            &:last-of-type {
                border: none;
            }
        }
    }
}

.page-template-cards {
    form {
        display: flex;
        justify-content: space-between;

        > div {
            display: flex;
            gap: 10px;
        }

        select {
            padding: 12px;
            background: none;
            border-radius: 4px;
            border: 1px solid gray;
            font-size: 16px;
        }

        select,
        a,
        input {
            width: auto;
            font-size: 14px;
        }
    }

    table {
        font-size: 14px;
        font-weight: 300;

        th,
        td {
            padding: 10px;
        }

        .card:nth-child(even) {
            background-color: #fafafa;
        }
    }
}

.club-stats-counters {
    .widget-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .stats-counter {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid #eee;
            border-radius: 3px;
            padding: 10px 20px;
            flex-basis: 23%;
            flex-grow: 1;
            height: 200px;

            @include respond-to('small') {
                flex-basis: 45%;
            }

            p {
                font-size: 1.6rem;
                font-weight: normal;
                text-align: center;
            }
        }
    }
}

.sub-menu a[href="https://vertikal.local/wp-login.php?action=logout"]
{
    display: none;
}

.logged-in .sub-menu {
    a[href="https://vertikal.local/wp-login.php?action=register"],
    a[href="https://vertikal.local/wp-login.php"]
    {
        display: none;
    }

    a[href="https://vertikal.local/wp-login.php?action=logout"]
    {
        display: block;
    }
}
