.btn {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid var(--cc-gray-300);
    border-radius: 8px;
    box-shadow: var(--cc-box-shadow-xs);
    transition: color, background-color 100ms ease-in-out;
    color: var(--cc-gray-700);
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 0 10px;

    .lucide {
        margin-right: 10px;
    }

    &:hover {
        background-color: var(--cc-black);
        color: #fff;
        border: 1px solid var(--cc-black);
    }

    &:last-of-type {
        margin-right: 0;
    }

    &:first-of-type {
        margin-right: 0;
    }
}

.btn-sm {
    padding: 5px 10px;
}
