.wrappers {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.wrapper {
    box-shadow: var(--cc-box-shadow-md);
    border: 1px solid var(--cc-gray-100);
    background-color: #fff;
    border-radius: var(--cc-border-radius);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid var(--cc-gray-100);

        .title {
            font-weight: 500;
            font-size: 1.8rem;
            margin: 0;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-size: 1.4rem;

        .item {
            padding: 20px 0;
            display: flex;
            gap: 30px;
            border-bottom: 1px solid var(--cc-gray-100);

            @include respond-to('small') {
                flex-direction: column;
                gap: 10px;
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
            }

            .item-label {
                flex: 1;
                font-weight: 400;
                margin: 0;
                padding: 0;
            }

            .item-content {
                flex: 3;
                margin: 0;
                padding: 0;

                > * {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            p,
            label,
            .item-description {
                font-size: 1.4rem;
                font-weight: 300;
                color: var(--cc-gray-500);
            }
        }

        > div {
            margin: 0;
            padding: 0;
        }
    }
}
